<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.black.vision">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:name=".app.VisionApp"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/icon_vision_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_vision_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".portal.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".portal.DispatchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActTheme" />

        <activity
            android:name=".about.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".text.TextActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActTheme" />

        <activity
            android:name=".video.VideoActivity"
            android:screenOrientation="landscape"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/VideoTheme" />
        <activity
            android:name=".video.ScreenRecordActivity"
            android:screenOrientation="landscape"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/VideoTheme" />

        <!-- Service -->
        <service android:name=".video.ScreenRecordService"/>
    </application>

</manifest>